* {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: whitesmoke;
}

header {
    width: 100%;
    display: inline-block;
    background-color: rgb(91, 106, 192);
    color: whitesmoke;
    padding: 15px;
    text-align: center;
}

.icone-login {
    position: relative;   
    width: 55px;
    left: 17px;    
}

.login-menu {
    position: relative;
    left: 20px;
    bottom: 17px;
}

form p {
    color: whitesmoke;
    font-weight: bold;
    font-size: 20px;
}

.icone-cadastro, .icone-lista, .icone-busca, .icone-voltar {
    position: relative;
    width: 25px;
    top: 5px;
    right: 2px;
}

form a {
    font-weight: bold;
    text-decoration: none;
    color: whitesmoke;
    padding-right: 50px;
    
}

h1 {
    font-size: 35px;
}

main {
    padding: 30px 50px;
}

h2, main p {
    text-align: center;
    
}

.lista-alunos {
    position: relative;
    left: 300px;
}

.cadastro, .login, .busca {
    display: grid;
    padding: 20px;
    margin-top: 15px;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 5px;
    width: 50%;
    position: relative;
    left: 300px;    
}

#nome-aluno, #data-nascimento, #nome-pai, #nome-mae, #telefone, #email {
    margin-bottom: 15px;
    width: 350px;
    padding: 5px;    
}

#num-matricula {
    margin-bottom: 15px;
    width: 350px;
    padding: 5px;
}

.botao {
    position: relative;
    left: 300px;
    margin-top: 20px;
    border-radius: 5px;
    border-color: whitesmoke;
    color: whitesmoke;
    background-color: rgb(91, 106, 192);
    padding: 8px;
    font-size: 15px; 
    transition: 0.2s;   
}

.botao:hover {
    background-color: rgb(60, 78, 180);
}

table {
    padding: 20px;
    margin-top: 15px;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 5px;
    width: 50%;
}

table th, td {
    border: 2px solid black;
    position: relative;
    padding: 2px;
}

table td img {
    width: 25px;    
}

.imagem-login, .password {
    position: relative;
    width: 30px;
    left: 160px;
    top: 14px;   
}
.center {
    text-align: center;
}

#email-login, #senha-login {
    position: relative;
    width: 200px;
    padding: 5px;
    left:200px;
    bottom: 15px;
}

.botao-login {
    position: relative;
    left: 550px;
    width: 150px;
    margin-top: 20px;
    border-radius: 5px;
    border-color: whitesmoke;
    color: whitesmoke;
    background-color: rgb(91, 106, 192);
    padding: 8px;
    font-size: 15px; 
    transition: 0.2s;
    bottom: 10px;
}

.botao-login:hover {
    background-color: rgb(60, 78, 180);
}

#input-pesquisa {
    position: relative;
    width: 40%;
    margin-top: 30px;  
    padding: 5px;
    left:150px;
    border-radius: 15px;
    padding: 7px 7px 7px 35px;
    margin-top: 15px;
    font-size: 15px;
    top: 14.5px;
    border-color: black;        
}

#imagem-pesquisa {
    position: relative;
    width: 19px;
    background-color: rgb(91, 106, 192);
    padding: 8px;
    bottom: 35px;
    left:149px;
    margin-top: 15px;
    border-radius: 15px 0px 0px 15px;
    transition: 0.2s;
}

#imagem-pesquisa:hover {
    background-color: rgb(60, 78, 180);
}

.lista-de-alunos {
    position: relative;
    left: 300px;
    color: black;
    list-style-type: none;
    border: 2px solid rgb(192, 192, 192);
    border-radius: 5px;
    margin-top: 15px;
    width: 51.6%;
    padding: 10px;
    font-weight: bold;
    line-height: 25px;    
}

footer {
    background-color: black;
    color: whitesmoke;
    text-align: center;  
    width: 100%;
}

.redes-sociais {
    list-style-type: none;
    margin: 15px;
    padding: 15px;
}

.redes-sociais li {
    position: relative;
    display:inline;
    margin: 5px;
    
}

.slogan, .copyright {
    font-size: 10px;
}